@charset "UTF-8";
body{
  color: #333;
  background-color: #edecda;
}
h1{
  font-size: 28px;
  font-family: normal;
  color: #fff;
  background-color: #063;
  padding: 3px;
}
.area_title{
  border-style: solid;
  border-color: #063;
  border-width: 0 0 2px 24px;
  padding: 3px;
}
