@charset "UTF-8";
body{
  color: #333;
}
h1{
  font-size: 30px;
  font-weight: normal;
  color: #fff;
  background-color: #000603;
}
h1:hover{
  background-color: #000;
}
h2{
  font-family: monospace;
  font-style: italic;
  color: #063;
}
